.title-corner-svdj {
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-fill-height: 10px;
    -fx-border-width: 5px 0 0 5px;
    -fx-border-color: #FFFFFF;
    -fx-padding: 10px;
    -fx-min-width: 250px;
}
.button {
    -fx-background-color: #000000;
    -fx-font-family: "Segoe UI";
    -fx-font-weight: bold;
    -fx-font-size: 25px;
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 0;
    -fx-padding: 15px 25px;
    -fx-content-display: right;
    -fx-text-alignment: left;
}
.svdj-corner {
    -fx-font-size: 1px;
    -fx-fill-height: 10px;
    -fx-border-width: 2px 2px 0 0;
    -fx-min-width: 75px;
    -fx-border-color: #FFFFFF;
    -fx-border-insets: 5px 0 5px 10px;
}

.svdj-container {
    -fx-background-color: #9ac2d4;
    -fx-opacity: 0.3;
}

.blackground {
    -fx-background-color: #000000;
}